@import 'tailwindcss';
@import './eicon.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-primary-blue1: #006CE4;
    --color-primary-blue2: #004898;
    --color-primary-paleblue: #F3F8FF;
    --color-primary-lightblue: #EBF4FF;
    --color-primary-darkblue: #00317C;

    --color-neutral-lightgray: #B5B6B8;
    --color-neutral-gray: #909294;
    --color-neutral-darkgray: #46494D;
    --color-neutral-dark: #212529;

    --color-btn-warning: #FFB700;

    --shadow-card: 0px 3px 6px rgba(0, 0, 0, 0.16);
    --shadow-card-lg-blue: 0px 7px 20px rgba(59, 130, 246, 0.2);

    --animate-marquee: marquee 15s linear infinite;

    @keyframes marquee {
        0% {
            transform: translateX(0%);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}